html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
}


body {
  /* background-image: url('../img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0; */

  background: linear-gradient(#ac94bc, #bcaccc, #c4bcda, #bdb2d4, #b3a0c6);
}

.custom-bg-color {
  background-color: #fff;
  /* Substitua YourColorCode pela cor desejada */

}

.bg-primary-color {
  background-color: #20213B;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

.form-container {
  max-width: 400px;
  padding: 1rem;
  margin: auto;
}

.btn-custom-color {
  background-color: #D7064B;
  color: #ffffff;
}

#customButton {
  background-color: #D7064B;
  color: #ffffff;
  margin-left: 200px;
}

.text-center h1 {
  font-size: 24px;
  color: #2B2D42;
}

#navbar {
  border-bottom: 4px solid #D7064B;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#navbar a {
  color: #ffffff;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 3px solid #D7064B;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #D7064B;
}

#navbar-logo {
  width: 60px;
  height: 60px;
}



#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}


.options-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 10px;
}

.options-menu.visible {
  display: block;
}

.options-menu a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.options-menu a:hover {
  background-color: #f1f1f1;
}

/* Tamanhos padrão */
.profile-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 990px;
}

.custom-carousel {
  margin-top: 100px;
  /* width: 300px;
  height: 4px;  */
}

/* Features */

section.features .col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.features-post {
  position: relative;
  margin-bottom: 0px;
}

.features-thumb {
  overflow: hidden;
  position: relative;
}

.features-thumb img {
  width: 100%;
}

.features-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
}

.features-content:hover {
  background-color: #D7064B;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.features-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.features-content h4 i {
  margin-right: 15px;
  font-size: 24px;
}

.features-content p {
  margin-bottom: 0px;
}

.features-content a {
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #fff;
}

.features-content p.hidden-sm {
  display: none;
}

.second-features,
.third-features {
  border-left: 1px solid rgba(250, 250, 250, 0.1);
}

.content-hide {
  margin-top: 15px;
  display: none;
}

.content-hide p {
  color: #fff;
}

@media screen and (max-width: 767px) {

  .features-content {
    padding: 15px;
  }

  .features-content h4 i {
    display: block;
    margin-bottom: 10px;
  }

  .features-content h4 {
    font-size: 14px;
  }

  .features-content p {
    display: none;
  }

  .features-content p.hidden-sm {
    display: block;
  }

  .features-content a {
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: 600;
  }

}